 @import "bootstrap";

.center-text {
 text-align: center;
}

.center-element {
 margin: auto;
}

.jumbotron {
 background-color: #4400ff;
 color: #fff;
}

.sm-vert-space {
  margin-bottom: 25px;
}

.md-vert-space {
  margin-bottom: 75px;
}
